<h3>Create Trade</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Ticker</label>
      <input type="text" class="form-control" id="ticker" required [(ngModel)]="userTrade.ticker" name="ticker">
    </div>

    <div class="form-group">
      <label>Quantity</label>
      <input type="text" class="form-control" id="quantity" required [(ngModel)]="userTrade.quantity" name="quantity">
    </div>

    <div class="form-group">
      <label>Trade Type</label>
      <input type="text" class="form-control" id="tradeType" required [(ngModel)]="userTrade.type" name="tradeType">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
